<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/static/aboutC.css">
</head>
<body>
    <img id="background" src="/static/project3.1.jpg" alt="Background">
   
    <div class="nav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="main-box">
        <div class="content-box">
            <div class="scroll-box">
                <span>#ANNOUM_d</span>
                <h1>About Us</h1>
                <p>Greetings! I am Divyansh Pathak, the creator and founder of this platform. I embarked on this digital journey with the vision of providing an open space for diverse expressions, ideas, and narratives. This website is not just a repository; it is a multifaceted forum where individuals from all walks of life can contribute their perspectives freely.</p>
                <p>Here, you have the autonomy to post articles, images, and commentary on a vast range of subjects—be it politics, education, current affairs, or any topic that resonates with your passion. Whether it's schools, colleges, or any other domain of intellectual discourse, this platform welcomes all forms of expression. The variety of content spans multiple domains, ensuring that you’ll always find a place for your thoughts, no matter how unique or niche they may be.</p>
                <p>This website is designed to be inclusive and anonymous, allowing you to post freely without the worry of your identity being exposed. It’s a space where your voice can echo freely, no matter the subject matter. Moreover, you have the freedom to enrich your posts by adding images to complement your ideas, making it an engaging and dynamic experience.</p>
                <a href="/home" class="back-button">Back</a>
            </div>      
        </div>
    </div>
</body>
</html>
