<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/static/contactC.css">
</head>
<body>
    <img id="background" src="/static/project3.1.jpg" alt="Background">
    <div class="nav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/logout">Logout</a>
    </div>
    
    <div class="main-box">
        <div class="content-box">
            <span>#ANNOUM_d</span>
            <h1>Contact Us</h1>
            <p>Kabhi contact mat karna!!!</p>
            <pre>Kyoki mere pass kuch nhi h</pre>
            
            <a href="/home" class="back-button">Back</a>
        </div>
    </div>
</body>
</html>
